<ion-header>
  <ion-toolbar color="buttonGreen">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/members/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Subjects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <!--<ion-searchbar placeholder="Subject Code" showCancelButton ></ion-searchbar>-->
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-list lines="full" padding>
      <ion-item formArrayName="subjects" *ngFor="let order of form.controls.subjects.controls; let i = index">
        <ion-label text-wrap>{{subjects[i].name}}</ion-label>
        <ion-checkbox slot="end" [formControlName]="i" checked="false"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-button type="submit" expand="block" color="buttonGreen" padding>SUBMIT</ion-button>
  </form>
</ion-content>
