<ion-header>
  <ion-toolbar color="buttonGreen">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <!--<form [formGroup]="registrationInstructorForm" (ngSubmit)="submit()">-->
    <ion-list>
      <!--<ion-item>
        <ion-label>Department</ion-label>
        <ion-select placeholder="Select One" required>
          <ion-select-option value="1">College of Information Technology and Computer Studies</ion-select-option>
          <ion-select-option value="2">College Teacher Education</ion-select-option>
          <ion-select-option value="3">College of Business Administration</ion-select-option>
          <ion-select-option value="4">College of Arts & Science</ion-select-option>
          <ion-select-option value="5">College of Criminal Justice</ion-select-option>
        </ion-select>
      </ion-item>-->

      <ion-item>
        <ion-input placeholder="First Name" autocapitalize="on" [(ngModel)]="firstname" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Middle Name" autocapitalize="on" [(ngModel)]="middlename" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Last Name" autocapitalize="on" [(ngModel)]="lastname" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Username" [(ngModel)]="username"  required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Job Title" [(ngModel)]="job_title" required></ion-input>
      </ion-item>

      <!--<ion-item>
        <ion-input placeholder="Image"></ion-input>
      </ion-item>-->

      <ion-item>
        <ion-input placeholder="Password" inputmode="password" pattern="password" type="password" min="6" [(ngModel)]="password" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Confirm Password" inputmode="password" pattern="password" type="password" min="6" [(ngModel)]="confirm_password" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="gender" required>
          <ion-select-option value="1">Male</ion-select-option>
          <ion-select-option value="2">Female</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label>Birthday</ion-label>
        <ion-datetime display-format="MM-DD-YYYY" picker-format="MMM DD YYYY" [(ngModel)]="birthday" ></ion-datetime>
      </ion-item>
      
      <ion-item>
        <ion-input placeholder="Contact no" [(ngModel)]="contact" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-textarea autocapitalize="on" placeholder="Address" required rows="3" [(ngModel)]="address" ></ion-textarea>
      </ion-item>
      <br/>
      <ion-button type="submit" expand="block" color="buttonGreen" (click)="submit()">SUBMIT</ion-button>
    </ion-list>
  <!--</form>-->
</ion-content>